@tailwind base;
@tailwind components;
@tailwind utilities;


.gd-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    /* background: rgb(243 244 246); */
    background: whitesmoke;
}